.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.thumbnails {
  display: flex;
  margin: 0px 10px !important;
  align-items: center;
  overflow: scroll;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .thumbnails {
    height: 250px;
  }
}
.thumbnail{
  margin: 2px 5px !important;
}


.react-datepicker__input-container{
border-radius: 10px !important;
/* margin: 0 10px; */

}

input[type="text" i] {
  height: 50px;
  padding: 0px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: rgba(50,50,93,0.25) 0px 6px 12px -2px, rgba(0,0,0,0.3) 0px 0px 7px -3px !important;
  background-color: #EFEFEF;
  margin: 0 10px;
  
  
}

