.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-unbordered>.list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pull-right{
    text-align: right;
}

.css-1oqqzyl-MuiContainer-root{
    max-width: 90% !important;
}

.css-mvadxi-MuiPaper-root{
    padding: 40px 30px !important;
}

@media (max-width: 1125px) {
    .css-1oqqzyl-MuiContainer-root {
        margin: 0 !important;
        width: 70vw !important;
    }
    .css-1oqqzyl-MuiContainer-root{
        max-width: 100% !important;
    }
}

